<div class="row">
    <div class="col-md-4">
        <h4>Given the following resistor</h4>
        <div>
            <!-- create our resistor -->
            <div class="resistorWire">
            </div>
            <div class="resistorBase resistorleftEnd">
            </div>
            <div class="resistorBase resistorLine" style="background-color:{{model.colors[0].hex}}">
            </div>
            <div class="resistorBase">
            </div>
            <div class="resistorBase resistorLine" style="background-color:{{model.colors[1].hex}}">
            </div>
            <div class="resistorBase">
            </div>
            <div class="resistorBase resistorLine" style="background-color:{{model.colors[2].hex}}">
            </div>
            <!-- only shown on 5 stripe resistors-->
            <div class="resistorBase" ng-if="model.colors.length ===4">
            </div>
            <div class="resistorBase resistorLine" ng-if="model.colors.length ===4" style="background-color:{{model.colors[3].hex}}" >
            </div>
            <!-- end conditional stripes -->
            <div class="resistorBase" style="width:30px;">
            </div>
            <div class="resistorBase resistorLine" ng-if="model.colors.length ===3" style="background-color:#ffd700">
            </div>
            <div class="resistorBase resistorLine" ng-if="model.colors.length ===4" style="background-color:#55460d">
            </div>
            <div class="resistorBase resistorRightEnd">
            </div>
            <div class="resistorWire">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h4>score: {{model.score}}v</h4>
    </div>
</div>
<br>
<div class="row">
    <br>
    <div class="col-md-6">
        <a ng-click="toggleCheatSheet()">Toggle cheat sheet</a>
        <table ng-show="model.cheatSheet" class="table table-striped table-bordered table-responsive" >
            <thead>
                <th>
                    Color
                </th>
                <th>
                    1st band
                </th>
                <th>
                    2nd band
                </th>
                <th>
                    3rd band
                </th>
                <th>
                    Multiplier
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="color in model.availableColors" >
                    <td style="background-color:{{color.hex}}; color:{{color.textColor}}">
                        {{color.name}}                        
                    </td>
                    <td style="background-color:{{color.hex}}; color:{{color.textColor}}">
                        {{color.value}}
                    </td>
                    <td style="background-color:{{color.hex}}; color:{{color.textColor}}">
                        {{color.value}}
                    </td>
                    <td style="background-color:{{color.hex}}; color:{{color.textColor}}">
                        {{color.value}}
                    </td>
                    <td style="background-color:{{color.hex}}; color:{{color.textColor}}">
                        {{color.multiplier}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Calculate the resistance</h4>
        <form novalidate>
            <div class="input-group">
                <span class="input-group-addon">Ohms</span>
                <input type="number" ng-model="model.resistance" class="form-control"  min="0">
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="answer();" type="submit">Answer!</button>
                </span>
            </div>
        </form>
    </div>
</div>